# Ignore things from npm.
node_modules/
npm-debug.log*
package-lock.json

# Ignore common directories.
src/common
src/messages

# Ignore babel and message output.
lib/
src/net/messages.js

# Ignore parcel output.
dist/
.cache/

# Ignore coverage output.
.nyc_output
coverage
