{
  "sourceMaps": "inline",
  "plugins": [
    "add-module-exports"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "source-map-support"
      ]
    }
  }
}